*.iml
.gradle
local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
*~
*.undo-tree*
.idea
*.apk
app/src/debug/res/values/google_maps_api.xml
app/src/release/res/values/google_maps_api.xml
keystore-passwords
